@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply w-full overflow-x-hidden bg-black/5;
	}
	/* common link style inherit from parent el */
	a {
		@apply text-inherit;
	}

	/* header layout style */
	header {
		@apply fixed w-full px-[10vw] py-5 flex justify-between backdrop-blur-md z-20 border-b border-black/5 bg-white/5;
	}

	/* footer layout base style */
	/* 공통으로 스타일이 들어갈 부분은 많은데 동적 데이터는 없어서 따로 컴포넌트 분리 필요할 필요가 없는 요소는 이곳에서 스타일 지정 가능 */
	footer {
		@apply w-full px-[10vw] py-14 bg-black/80;

		section {
			@apply flex flex-wrap items-center justify-between gap-20 border-b py-14 border-white/10 text-white/40;

			h2 {
				@apply text-2xl font-semibold tracking-wider text-white/60;
			}

			p {
				@apply text-base;
			}

			&:last-child {
				@apply border-none;
			}

			article {
				h2 {
					@apply mb-6 text-lg font-semibold text-white/80;
				}
				ul {
					@apply font-medium leading-loose;
				}

				&:last-child {
					@apply w-[25%] max_xl:w-[100%];

					p {
						@apply mb-8;
					}

					ul {
						@apply flex gap-4;

						li {
							@apply inline-block p-2 text-xs text-white rounded bg-white/10;
						}
					}
				}
			}
		}
	}
}

@layer components {
	/* button style */
	.btn {
		@apply inline-flex items-center gap-2 px-8 py-3 text-sm text-white transition border-none rounded-md shadow-lg shadow-black/30 bg-black/90 hover:bg-cyan-500 hover:shadow-cyan-500/30;
	}

	/* img style in thumbnail */
	.pic {
		@apply absolute top-0 left-0 inline-block object-cover w-full h-full;
	}

	/* mask frame style */
	.mframe {
		@apply relative inline-block overflow-hidden;
	}
}

/* scrollbar style */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 1);
}
